body {
    background-color: powderblue;
  }
  h1 {
    text-decoration:overline;
    color: red;
    font-family: courier;
    font-size: 200%;
    border: 1px solid powderblue;
    padding: 30px;
    text-align: center;
  }
  
  p  {

    color: blue;
    font-family: verdana;
    font-size: 90%;
    text-indent: 5%;
  }